<!DOCTYPE html>
<html>
<head>
	<title>ReactReduxChallenge</title>
</head>
<body>
	<div id="app"><!-- insertion point --></div>
	<script type="text/javascript" src="bundle.min.js"></script>
</body>
</html>